.App {
  text-align: center;
  background-color: #494b49;
  color: black;
}

.App-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size:16p;
  color: white;
}

.App-list{
  background-color: #c2c3ce;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}